/_build/
*.install
*.install.tmp

*.exe
*.bc
*.cm*
*.o
*.a
*.so
*.dylib
*.dll

.opam-switch/
.opam/
.opam.locked

.merlin

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

node_modules/

target/
test_file
